<settings.xml>
  <achievements>
    <client>
      <group>
        <name>	epic	</name>
        <order>	1	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_EPIC</locale>
      </group>
      <group>
        <name>heroic</name>
        <order>	2	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_HERO</locale>
      </group>
      <group>
        <name>honorable</name>
        <order>	3	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_HONOR</locale>
      </group>
      <group>
        <name>series</name>
        <order>	5	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_SERIAL</locale>
      </group>
      <group>
        <name>distinguished</name>
        <order>	7	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_DISTINCTION</locale>
      </group>
      <group>
        <name>group</name>
        <order>	6	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_GROUP</locale>
      </group>
      <group>
        <name>stage</name>
        <order>	4	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_STAGE</locale>
      </group>
      <group>
        <name>memorable</name>
        <order>	8	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_MEMORIAL</locale>
      </group>
      <group>
        <name>old</name>
        <order>	9	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_OLD</locale>
      </group>
      <group>
        <name>albion</name>
        <order>	10	</order>
        <locale>LOBBY_ALBION_OPERATION</locale>
      </group>
      <group>
        <name>newyear</name>
        <order>	11	</order>
        <locale>ACHIEVEMENTS_TAB_AWARDS_NEW_YEAR</locale>
      </group>
      <group>
        <name>	marathon	</name>
        <order>	12	</order>
        <locale>LOBBY_EVENT_NAME_WESTWALL</locale>
      </group>
    </client>
  </achievements>
</settings.xml>